<div class="main-outer">
    <div class="inner">
        <h2 class="header-text">Login</h2>
        <form class="security-form">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input type="email" placeholder="Ex. pat@example.com">    
            </mat-form-field>
            <mat-form-field class="full-width" ppearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" >    
              </mat-form-field>
              <button mat-raised-button color="primay">Sign up</button>
              <p style="text-align:center" margin-top:10px>OR</p>
              <button mat-raised-button color="warn">Sign up</button>

          </form>
    </div>

</div>