    <div class="data-wrapper"> 
        <div class="img-wrapper">
            <div class="shadow"></div>
            <img src="https://img.freepik.com/free-photo/black-t-shirts-with-copy-space_53876-102012.jpg?w=740&t=st=1673714728~exp=1673715328~hmac=8ed1f420daba47859ef9ec0d8ad9c02a30b4f809affefd8cef353eae7242b894" alt="" product-image>
        

    </div>
    <div class="data-set">
        <h3 class="name">Product Name</h3>
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, provident.
        </p>
        <p class="cost-outer">
            <span class="actual-prrice">3000</span>&nbsp;&nbsp;
            <del class="old-price">2000</del>
        </p>
    
</div>
</div>